/* INDEX */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
:root {
    --main-color: rgb(252, 125, 146);
    --text-color: rgb(10, 10, 59);
    --text-color-white: rgb(255, 255, 255);
}
.btn {
    background-color: var(--text-color);
    padding: 20px;
    margin: 10px;
    border-radius: 30px; 
}
.btn:hover {
    background-color: rgb(33, 33, 100);
}
.btn a {
    color: var(--text-color-white);
}
ul {
    list-style: none;
}

/* Header section */
.nav {
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h1 {
    padding: 5px;
}
.nav_list {
    display: flex;
    list-style: none;
}
a {
    text-decoration: none;
    padding: 5px;
}
@media screen and (min-width: 768px) {
    .nav {
        text-transform: uppercase;
        
    }
    .nav_list {
        justify-content: space-evenly;
        flex-grow: 1;
    }
}

/* Main section */
.container {
    background-color: var(--main-color);
}
.container_article {
    padding: 10px;
}
.container_main_img {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        
    }
    .container_article {
        flex-grow: 1;
    }
    .container_main_img {
        width: 50%;
        object-fit: cover;
    }
}

/* Footer */
footer {
    background-color: var(--text-color);
    padding: 10px;
    text-align: center;
}
footer a {
    color: var(--text-color-white);
    text-decoration: none;
    
}

/* RECIPE */
.header_recipe {
    text-align: center;

}
.header_recipe a {
    color: var(--text-color-white);
}
.recipe_main {
    background-color: var(--text-color);
}
.recipe {
    background-color: var(--main-color);
    color: var(--text-color);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.recipe h1 {
    padding: 20px;
}
.recipe h2 {
    padding: 20px;
}
.ingredients_list {
    background-color: var(--text-color);
    color: var(--text-color-white);
    padding-bottom: 20px;
}

/* PICTURE */
.container_picture {
    background-color: var(--main-color);
}
.header_picture {
    display: flex;
    align-items: center;
    justify-content: center;
}
figure img {
    width: 100%;
}
figure {
    margin: 30px 10px;
}
figcaption {
    text-align: center;
}
.last_picture_none {
    display: none;
}
@media screen and (min-width: 768px) {
    .main_figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    figure img {
        height: 100%;
        object-fit: cover;
    }
    .last_picture {
        display: none;
    }
    .last_picture_none {
        display: block;
        margin: 0 auto;
        padding: 20px 10px;
    }
}
@media screen and (min-width: 1024px) {
    .main_figure {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    figure img {
        height: 100%;
        object-fit: cover;
    }
    .last_picture {
        display: none;
    }
    .last_picture_none {
        display: none;
    } 
    .last_picture {
        display: inline-block;
   
    }
    .container_picture {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}